#heroimg2-container {
    height: 660px;
    background-image: url("./storage/backimg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    border-radius: 2rem;
    padding-left: 4rem;
}
#heroimg2-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;

}
#heroimg2-title{
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%; 
}

#heroimg2-shop {
    width: 136px;
    height: 46px;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    background-color: black;
    color: white;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    #heroimg2-subcontainer {
        width: 70%;
    }
    #heroimg2-title {
        font-size: 45px;
    }
}
@media screen and (max-width: 500px) {
    #heroimg2-title {
        font-size: 45px;
    }
    #heroimg2-container {
        padding-left: 1rem;
    }
}