* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.nav-auth-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d2b48c;
    height: 110px;
    box-shadow: 0px 0px 42px -8px rgb(0, 0, 0);
    padding: 0 2rem 0 2rem;
}

.nav-logo {
    width: 90px;
}

.nav-search-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 39px;
}

.nav-search-input {
    padding-left: 10px;
    width: 25rem;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgb(227, 255, 227);
    border: none;
}

.nav-search-input:focus {
    outline: none;
    border: none;
}

.nav-search-container:focus-within {
    border: 0px solid black !important;
    box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.25);
}

.nav-search-container:focus-within .nav-search-btn {
    border: 1px solid black;
}


.nav-search-btn {
    padding: 4px;
    background: #a0512d94;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search-btn:hover {
    background: #A0522D;
}

.nav-sign-in-btn {
    padding: 10px 20px;
    background-color: #A0522D;
    color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--body-font);
    font-weight: 400;
    text-decoration: none;
}

.nav-sign-in-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-self: center;
}

#nav-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-right: 2rem;
}

#ui-suggestion {
    position: absolute;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 9px;
    margin: 0;
    margin-top: 1rem;
    background-color: #0000000f;
    border-radius: 1rem;
    padding: 1rem;
    color: black;
}
#ui-suggestion p{
    margin: 0;
    cursor: pointer;
}

#nav-user-ac {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#nav-cart {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#nav-routing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav-routinglink {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: rgba(35, 162, 4, 1);
}

.nav-routinglink {
    color: #555;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 1.1rem;
}

.active-link {
    color: #A0522D;
    /* Highlight active link */
    font-weight: bold;
    border-bottom: 2px solid #c26d45;
}

@media screen and (max-width: 915px) {
    .nav-sign-in-btn {
        padding: 6px 12px;
    }

    .nav-search-input {
        width: 11rem;
    }

    .nav-auth-container {
        padding: 0 0.2rem 0 0.2rem;
    }
}

@media screen and (max-width: 600px) {
    #nav-auth {
        gap: 1rem;
        padding-right: 0.1rem;
    }

    .nav-sign-in-container {
        gap: 0.5rem;
    }

    .nav-logo {
        width: 52px;
    }

    .nav-search-container {
        height: 30px;
    }
}

@media screen and (max-width: 525px) {
    .nav-search-input {
        width: 8rem;
    }

    .nav-sign-in-btn {
        font-size: xx-small;
    }

    .nav-search-input {
        width: 5rem;
    }
}

@media screen and (max-width: 1370px) {
    .nav-search-input {
        width: 7rem;
    }
}


@media screen and (max-width: 1022px) {
    #nav-routing {
        display: none;
    }
}