.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #A0522D;
    /* Dark green background */
    padding: 20px;
    color: white;
    /* height: 476px; */
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 1rem;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-text {
    color: #000000;
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

#footer-img {
    width: 150px;
}

.footer-center,
.footer-right {
    margin-left: 20px;
}

.footer-center h4 {
    text-decoration: none;
}

.footer-center h4,
.footer-right h4 {
    margin-bottom: 10px;
    font-family: var(--foot-font);
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    margin-bottom: 2rem;
        color: black;

}

.footer-center ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: black;
    gap: 1rem;
}

.footer-center li {
        color: black;

    margin: 5px 0;
    font-family: var(--foot-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;

}

.footer-social-icons {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.footer-icon {
    text-decoration: none;
    color: black;
}

.footer-subscribe {
    display: flex;
    margin-top: 10px;
    gap: 1.5rem;
}

.footer-subscribe input {
    padding-left: 55px;
    width: 300px;
    height: 75px;
    top: 3945px;
    left: 844px;
    border-radius: 500px;
}

.footer-subscribe input::placeholder {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.5%;
    text-decoration-skip-ink: auto;
    text-decoration: none;
}

.footer-subscribe button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* Green button */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 153px;
    height: 75px;
    top: 3945px;
    left: 1200px;
    border-radius: 500px;
    font-family: var(--foot-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.5%;
    text-decoration-skip-ink: auto;
    text-decoration: none;
}

.footer-subscribe button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 650px) {
    .footer-subscribe input {
        width: 150px;
        height: 40px;
        padding-left: 20px;
    }

    .footer-subscribe input::placeholder {
        font-weight: 400;
        font-size: 15px;
    }

    .footer-subscribe button {
        width: 75px;
        height: 40px;
        font-size: 10px;
    }

    .footer {
        gap: 5rem;
    }

    .footer-right {
        align-items: center;
    }
}